.form-steps {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-steps-row {
  width: 100%;
  margin: 0 !important;
}

.steps-column {
  flex: 0 0 auto !important;
}

.content-column {
  flex: 1 1 auto !important;
}

.steps-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  margin-top: 15px;
}

.step-item {
  display: flex;
  align-items: start;
  width: 100%;
  margin-bottom: 20px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  position: relative;
}

.icon-container::after {
  content: '';
  position: absolute;
  top: 110%;
  left: 50%;
  height: 150%;
  width: 2px;
  background-color: var(--primary-variant) !important;
  transform: translateX(-50%);
}

.icon-container.completed-step::after {
  background-color: var(--title);
}

.icon-container.current-step::after,
.icon-container.future-step::after {
  background-color: var(--disabled) !important;
}

.icon-container.last-icon::after {
  content: none;
}

.step-title {
  font-size: 0.95rem;
  color: var(--title);
  font-weight: 500;
}

.step-subtitle {
  font-size: 0.9rem;
  color: var(--subtitle);
}