::v-deep .v-data-table__th {
  border-right: 1px solid #0000001e !important;
  background-color: #f9f9f9 !important;
}

::v-deep .v-data-table__th .v-data-table-header__content span {
  white-space: normal !important;
  word-wrap: break-word !important;
  word-break: normal !important;
}

::v-deep .v-data-table__td {
  white-space: normal !important;
  word-wrap: break-word !important;
  word-break: normal !important;
}

/* Remove border from the last header cell */
::v-deep .v-data-table__th:last-child {
  border-right: none !important;
}

::v-deep .v-data-table-footer {
  justify-content: space-between !important;
}

.hide-footer ::v-deep .v-data-table-footer {
  display: none !important;
}

.hide-scrollbar ::v-deep .v-table__wrapper {
  border-radius: inherit;
  overflow: auto;
  flex: 1 1 auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.hide-scrollbar ::v-deep .v-table__wrapper::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.hide-header ::v-deep .v-data-table__th {
  visibility: hidden;
  height: 0;
  padding: 0;
  border: none;
  line-height: 0;
}

::v-deep table {
  table-layout: fixed !important;
}

.data-table ::v-deep .v-text-field .v-field--single-line input {
  font-size: 0.875rem;
}

.changed-item {
  background-color: var(--primary-light) !important;
}

::v-deep .v-pagination__prev {
  align-self: center !important;
}

::v-deep .v-pagination__next {
  align-self: center !important;
}

::v-deep .v-pagination__item .v-btn__content {
  font-size: 0.9rem;
  text-transform: none; /* Prevent automatic formatting */
  letter-spacing: normal;
}

/* For numbers over 1000, reduce font size */
::v-deep .v-pagination__item .v-btn__content[aria-label*=","] {
  font-size: 0.75rem;
  font-weight: 500;
}

::v-deep .v-pagination__item .v-btn--disabled {
  opacity: 1;
}

.pagination-icon {
  color: var(--primary) !important;
  font-weight: 600 !important;
  cursor: pointer;
}

.pagination-icon-disabled {
  color: var(--subtitle) !important;
  font-weight: 600 !important;
  cursor: default;
}
