::v-deep .v-data-table__th {
  border-right: 1px solid #0000001e !important; /* Change color as needed */
  background-color: #f9f9f9 !important;
    
}

::v-deep .v-data-table__th .v-data-table-header__content span{
  white-space: normal !important;
  word-wrap: break-word !important;
  word-break: break-all !important;
}

/* Remove border from the last header cell */
::v-deep .v-data-table__th:last-child {
  border-right: none !important;
}

::v-deep .v-data-table-footer {
  justify-content: space-between !important;
}

.hide-footer ::v-deep .v-data-table-footer {
  display: none !important;
}



.hide-header ::v-deep .v-data-table__th {
  visibility: hidden;
  height: 0;
  padding: 0;
  border: none;
  line-height: 0;
}

::v-deep table {
  table-layout: fixed !important;
}

.data-table ::v-deep .v-text-field .v-field--single-line input {
  font-size: 0.875rem;
}

.changed-item {
  background-color: var(--primary-light) !important;
}