.icon-title {
  display: flex;
  flex-direction: column;
}

.icon-title-row {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 10px;
}

.title {
  margin: 0;
  font-size: 1.2rem !important;
  color: var(--title);
}

.description {
  margin: 0;
  font-size: 0.9rem !important;
  color: var(--subtitle);
}
